<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WallpaperShuffle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Forms.EnableWindowsFormsHighDpiAutoResizing=true" />
	</runtime>
	<userSettings>
		<WallpaperShuffle.Properties.Settings>
   <setting name="currentIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ResourceTitle" serializeAs="String">
    <value>Bing每日随机壁纸</value>
   </setting>
   <setting name="AutoBoot" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WallpaperSaveDirPath" serializeAs="String">
    <value />
   </setting>
   <setting name="CleanupIntervalMinutes" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="IntervalMinutes" serializeAs="String">
    <value>5</value>
   </setting>
  </WallpaperShuffle.Properties.Settings>
	</userSettings>
</configuration>